@import "../../styles/global";
.itemsWrapper {
  margin-top: 24px;
  width: 100%;
  row-gap: 8px;
  padding-bottom: 150px;
  @include lg {
    row-gap: 20px;
  }
  .sortBarWrapper {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;

    @include lg {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      > div {
        width: 100%;
      }
    }
  }

  .shoeCard {
    grid-column: span 4;
  }
  .bottomButtonBg {
    position: fixed;
    bottom: 0px;
    height: 120px;
    background-color: $white;
    left: 0px;
    right: 0px;
    width: 100%;
    border-top: 1px solid $gray80;

    @include lg {
      display: none;
    }
  }
}
