@import "../../styles/global";
.itemsWrapper {
  width: 100%;
  row-gap: 8px;
  padding-bottom: 150px;
  @include lg {
    row-gap: 20px;
  }
  .sortBarWrapper {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin-top: 16px;
    margin-bottom: 8px;
    @include lg {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      > div {
        width: 100%;
      }
    }
  }

  .shoeCard {
    grid-column: span 4;
  }
}

.emptyWrapper {
  height: 100%;
  row-gap: 48px;
  margin-top: 64px;
  padding-bottom: 150px;

  p {
    grid-column: 1 / -1;
    text-align: center;
    @include lg {
      grid-column: 5 / 9;
    }
  }
  .emptyListImg {
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
    max-height: 300px;

    @include lg {
      max-height: 500px;
      grid-column: 3 / 11;
    }
  }
}
