@import "./breakpoints";

@font-face {
  font-family: Boxing;
  src: url(../fonts/Boxing-Regular.otf);
}
@font-face {
  font-family: Excon;
  src: url(../fonts/Excon-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Excon;
  src: url(../fonts/Excon-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Excon;
  src: url(../fonts/Excon-Medium.otf);
  font-weight: 500;
}

h1,
.h1 {
  font-family: Boxing;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;

  @include lg {
    font-size: 64px;
  }
}
h2,
.h2 {
  font-family: Boxing;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
}
h3,
.h3 {
  font-family: Excon;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.subhead {
  font-family: Excon;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
button {
  font-family: Excon;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.copy {
  font-family: Excon;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.label {
  font-family: Excon;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
